.playerIcon{
    background-image: url('../../assets/pplayer.png');
    background-size:contain;
    width: 100px;
    height: 100px;
}

h6{
    text-align: center;
}

li{
    text-align: center;
   list-style: none;
}