<h1>Football crazy</h1>


<h3> Goalkeepers </h3>
<div class="m-3 r-1" *ngFor = "let footballer of goalkeepers">
<button type="button" class="btn btn-warning" (click)= "addGoalkeeper(footballer)">{{footballer.name}}</button>
</div>

<h3> Attacker </h3>
<div class="m-3 r-2"  *ngFor = "let footballer of attacker">
<button type="button" class="btn btn-primary"(click)= "addAttacker(footballer)">{{footballer.name}}</button>
</div>

<h3>Midfielders</h3>
<div class="m-3" *ngFor = "let footballer of midfielders">
<button type="button" class="btn btn-info" (click)="addMidfielder(footballer)">{{footballer.name}}</button>
</div>

<h3> Defenders </h3>
<div class="m-3" *ngFor = "let footballer of defenders">
<button type="button" class="btn btn-danger"  (click)="addDefender(footballer)"> {{footballer.name}}</button>
</div>

<h1>Your Pick </h1>
<h2>Goalkeepers</h2>
<div *ngFor=" let footballer of selectedGoalkeeper">
  <p>{{footballer.name}}</p>
</div>

<h2>Attacker</h2>
<div *ngFor=" let footballer of selectedAttacker">
    <p>{{footballer.name}}</p>
  </div>

<h2>Midfielders</h2>
<div *ngFor=" let footballer of selectedMidfielder">
    <p>{{footballer.name}}</p>
  </div>

<h2>Defenders</h2>
<div *ngFor=" let footballer of selectedDefenders">
    <p>{{footballer.name}}</p>
  </div>