<h1>Football crazy</h1>


<h3> Goalkeepers </h3>
<div class="m-3" *ngFor = "let footballer of goalkeepers">
<button type="button" class="btn btn-warning">{{footballer.name}}</button>
</div>

<h3> Attacker </h3>
<div class="m-3" *ngFor = "let footballer of attacker">
<button type="button" class="btn btn-primary">{{footballer.name}}</button>
</div>

<h3>Midfielders</h3>
<div class="m-3" *ngFor = "let footballer of midfielders">
<button type="button" class="btn btn-info">{{footballer.name}}</button>
</div>

<h3> Defenders </h3>
<div class="m-3" *ngFor = "let footballer of defenders">
<button type="button" class="btn btn-danger">{{footballer.name}}</button>
</div>
<!-- 
<div class="m-3" *ngFor = "let footballer of footballers">
    <button type="button" class="btn btn-success m-3">{{footballer.name}}</button>
    <p>{{footballer.position}}</p>
</div> -->