
body { 
    margin: 0;

}
h1{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

nav{
    background-color: #532cff;
    color: white;
    a{
        color: white;
    }
    a:hover{
        background-color:#2cc0ff;
        border-radius: 10px;
        color: white;
    }
}